.header__body {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    margin-right: 20px;
    align-items: center;
}

.header {
    background-color: rgb(187, 179, 68);
    height: 70px;
    box-shadow: 3px 3px 8px black;
    overflow: hidden;
    border-bottom: 1px solid rgba(34, 33, 33, 0.5);
}

.header__icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 1px;
}

.header__item {
    color: white;
    background-color: rgb(34, 33, 33);
    padding: 8px;
    box-shadow: 3px 3px 3px gray;
    border-radius: 10px;
    margin-left: 40px;
    font-size: 15px;
    letter-spacing: 1.2px;
    cursor: pointer;
}

.header__sound-on,
.header__sound-off {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 14px;
}

.image-on,
.image-off {
    border-radius: 5px;
}

.header__sound-off {
    display: none;
}

.image-off {
    height: 22px;
    margin-top: 5px;
}