.menu__title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 20px 40px;
    display: flex;
    margin-top: 20px;
}

.menu__button {
    background-color: rgb(194, 66, 66);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 35px;
    font-size: 18px;
    box-shadow: 2px 2px 2px gray;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 100px;
}

.menu__settings-rules {
    display: flex;
    justify-content: space-around;
    padding: 120px 0 30px;
}

.menu__rules,
.menu__settings {
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}